/ARR-1.exe
/ARR-2.exe
/Buy and Sell Stock.exe
/BuyandSell-Stock.exe
/MajorityElement.exe
/MajorityElemnt.exe
/MaximumSubarray.exe
/PairSum.exe
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/Water-Container-Problem.exe